.Select {
  margin: 0 auto !important;
  max-width: 350px !important;
  font-size: 20px !important;
  margin-bottom: 70px !important;
}

.Select__control {
  background: transparent !important;
  border: none !important;
  padding: 0px !important;
  box-shadow: none !important;
}
