.ProjectListWrapper {
  position: relative;
  overflow: hidden;
}

.ProjectList { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.Decoration1 {
  position: absolute;
  top: 50px;
  left: -70px;
  z-index: -1;
}

.Decoration2 {
  position: absolute;
  bottom: -40px;
  left: 30%;
  z-index: -1;
} 

.Decoration3 {
  position: absolute;
  top: 200px;
  right: -90px;
  z-index: -1;
}

@media (max-width: 1139px) {
  .Decoration2 {
    position: absolute;
    bottom: 70px;
    left: 20%;
    z-index: -1;
  }
}

@media (max-width: 767.98px) {
  .Decoration1 {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: -1;
  }
  
  .Decoration2 {
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: -1;
  } 
  
  .Decoration3 {
    position: absolute;
    top: 700px;
    right: 0px;
    z-index: -1;
  }
}