.Layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

.Layout > * {
  width: 100%;
}

.Main {
  flex: 1 1 auto;
}

