.Subtitle {
  max-width: calc(var(--container-width) / 2);
  color: var(--grey-color);
  margin-bottom: 50px;
}

.SubtitleAnimationBlock {
  animation-delay: 0.5s;
}

@media (max-width: 767.98px) {
  .Subtitle {
    max-width: 330px;
    color: var(--grey-color);
    margin-bottom: 40px;
  }
}