.Description {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  display: block;
  color: var(--grey-color);
}

@media (max-width: 767.98px) {
  .Description {
    font-weight: 300;
    font-size: 18px;
    line-height: 19px;
  }
}
